/* .main-con {
    background-color: rgba(58, 61, 162, 0.727);
}

.card{
   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(72, 105, 141);
    /* display: flex;
    justify-content: center;
    flex-wrap: nowrap; */

}

/* .App {
    margin-top: 55px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
} */ 